<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="" name="keywords">
    <title>剡越13水充值界面</title>
    <link type="text/css" rel="stylesheet" href="${rc.contextPath}/css/wapBase.css"/>
    <link type="text/css" rel="stylesheet" href="${rc.contextPath}/css/common.css"/>
</head>
<body>
<div class="WapContent">
    <header>
        <div class="topWrap">
            <div class="back" onClick="javascript:history.go(-1)"><i class="iconfont icon-back"></i></div>
            <div class="hTitle">充值 - ${guid}</div>
        </div>
    </header>
    <div class="wrapBox">
        <div class="price_list">
            <form action="${rc.contextPath}/doNewPay" method="post">
                <ul id="payList">
                    <#list payLinks as link>
                        <li data="${link.id?c}" class="<#if link_index == 0>current</#if>">
                            <a href="javascript:changeTo(${link.id?c});"> ${link.pickRmb/100}元 ${link.pickCouponVal?c}豆 </a>

                        </li>
                    </#list>
                </ul>

                <ul id="payTypeList">
                    <li data="1" class="current"><a href="javascript:void(0);"><i class="iconfont icon-wxPay"></i></a></li>

                    <li data="2"><a href="javascript:void(0);"><i class="iconfont icon-aliPay"></i></a></li>

                </ul>
                <input type="hidden" name="guid" value="${guid}">
                <input type="hidden" name="pickId" id="pickId" value="${defaultPick}">
                <input type="hidden" name="payType" id="payType" value="${defaultPayType}">
                <p><input type="submit" value="立刻充值" class="subBtn"/></p>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="${rc.contextPath}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#payList li").click(function () {
            $(this).addClass("current").siblings().removeClass("current");
            $("#pickId").val($(this).attr("data"));
        })
        $("#payTypeList li").click(function () {
            $(this).addClass("current").siblings().removeClass("current");
            $("#payType").val($(this).attr("data"));
        })
    })

</script>
</html>
