<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="" name="keywords">
    <title>充值成功</title>
    <link type="text/css" rel="stylesheet" href="${rc.contextPath}/css/wapBase.css" />
    <link type="text/css" rel="stylesheet" href="${rc.contextPath}/css/common.css" />
</head>
<body>
    <div class="WapContent">
    	<header>
        	<div class="topWrap">
                <div class="back" onClick="javascript:history.go(-1)"><i class="iconfont icon-back"></i></div>
                <div class="hTitle">支付返回</div>
            </div>
        </header>
        <div class="wrapBox">
        	<div class="success_div">
            	<p><i class="iconfont icon-success"></i> ${message}</p>
            </div>
        </div>
	</div>
</body>
<script type="text/javascript" src="${rc.contextPath}/js/jquery-1.7.1.min.js"></script>
</html>
